{% extends 'base.html' %}

{% block title %} RETRIEVE VIEW {% endblock title %}


{% block content %}

<style>
    @media only screen and (max-width: 600px) {

        .media_query{
            width: 150px;

        }

    }
</style>

<div class="container ">
    <div class="row ">
        <div class="col-md table-responsive"  >
            <table class="table  table-hover " id="example">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <td> Employee Id </td>
                        <td> Full Name </td>
                        <td> Mobile Number </td>
                        <td> Position </td>
                        <td>
                            <a href="{% url 'blog:form'  %}" class="btn btn-success  media_query" >
                                <i class="fas fa-plus "></i> Add New
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employee_list %}
                    <tr>
                         <td>{{employee.empl_code}}</td>
                        <td>{{employee.fullname}}</td>
                        <td>{{employee.mobile}}</td>
                        <td>{{employee.position}}</td>
                        <td>
                            <a href="{{ employee.get_absolute_url }}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>

                            <!-- Form for delete operation -->
                            <form action="{{ employee.get_delete_url }}" method="post" class="d-inline" >
                                {% csrf_token %}
                                    <button type="submit" class="btn"  onclick="return confirm('Are you sure you want to delete ? .')">
                                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                    </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    
</div>

{%  endblock content %}